 <!-- Header -->
    <header id="top" class="header">
      
        <div class="text-vertical-center">
          <div "col-md-12 col-lg-12 text-center">
      </div>
            <h1 class="for-dark-bg" >Welcome</h1>
            <h3 class="for-dark-bg">Meet Al</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
        </div>
    </header>